
.campaign-index {
  font-family: roboto;
}

.campaign-index-item > div {
  font-family: roboto;
  /*font-size: 20px;*/
}

.campaign-index-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #cecece;
  background-size: 100% 100%;
  z-index: -5;
}

.campaign-index-header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e1e2e4;
  text-align: center;
  border-top: 0;
  z-index: 3;
  top: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.75);
}

.campaign-index-header-title {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.campaign-index-tableau-container {
  position: fixed;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 0;
  z-index: 1;
  background-color: white;
  /*height:60px;*/
  overflow: auto;
  border: 1px solid #dddddd;
  margin: 80px 0 0 0;
  /*height: 100%;*/
  -webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
  background: #f7f7f7;
  /*background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );*/
}

.campaign-index-list {

}

.new-campaign-button {
  padding: 5px;
  font-weight: 500;
  border: 1px solid #FF0044;
  color: #FF0044;
  border-radius: 5px;
  margin: 10px 0 5px 20px;
}

.new-campaign-button:hover {
  cursor: pointer;
  border: 2px solid #FF7096;
  color: #FF7096;
  margin: 9px 0 4px 19px;
}

.campaign-index-tableau {
  margin: 5px 0 0 0;
  /*border-top: 1px dotted black;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;*/
  padding: 5px;
  height: 100%;
  /*overflow: auto;*/


}

.campaign-index-item {
  float: left;
  position: relative;
  height: 200px;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #a8a8a8;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
  background-color: white;
  overflow: hidden;
  transition-property: -webkit-box-shadow, -moz-box-shadow, box-shadow, border, margin, color;
  transition-duration: 0.5s;
  background-size: 100% 100%;
  background-position: 0 0px;
}

.campaign-index-item:hover {
  /*background-color: #1AAFD0;*/
  border: 2px solid #1AAFD0;
  -webkit-box-shadow: 0 4px 9px 0px rgba(26,175,208,0.75);
  -moz-box-shadow: 0 4px 9px 0px rgba(26,175,208,0.75);
  box-shadow: 0 4px 9px 0px rgba(26,175,208,0.75);
  color: #1AAFD0;
  transition-property: -webkit-box-shadow, -moz-box-shadow, box-shadow, border;
  transition-duration: 0.5s;
  cursor: pointer;
}

.new-campaign-index-item {
  font-family: roboto;
  float: left;
  position: relative;
  height: 200px;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #a8a8a8;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);
  background-color: white;
  overflow: hidden;
  transition-property: -webkit-box-shadow, -moz-box-shadow, box-shadow, border, margin, color;
  transition-duration: 0.5s;
  background-size: 100% 100%;
  background-position: 0 0px;
  text-align: center;
  font-size: 30px;
}

.new-campaign-index-item:hover {
  /*background-color: #1AAFD0;*/
  border: 2px solid #1AAFD0;
  -webkit-box-shadow: 0 4px 9px 0px rgba(26,175,208,0.75);
  -moz-box-shadow: 0 4px 9px 0px rgba(26,175,208,0.75);
  box-shadow: 0 4px 9px 0px rgba(26,175,208,0.75);
  color: #1AAFD0;
  transition-property: -webkit-box-shadow, -moz-box-shadow, box-shadow, border;
  transition-duration: 0.5s;
  cursor: pointer;
}

.campaign-index-item-show {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 75%;
}

.campaign-index-item-text {
  font-size: 30px;
  text-align: center;
  position:absolute;
  bottom:0px;
  left:0;
  right:0;
  z-index: 1;
  /*border-top: 1px solid black;*/
  box-shadow: 0 4px 9px 0px rgba(0,0,0,0.75);
  /*text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);*/
  background-color: rgba(255,255,255,0.75);
}

.campaign-img-container {
  position: absolute;
  top: 50%;
  width: 400px;
  height: 240px;
}

.campaign-index-item-img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.5;

}

.campaign-index-item-delete {
  text-align:center;
  transition-property: background-color;
  transition-duration: 0.5s;
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;

  /*height: 100%;*/
}

.campaign-index-item-delete:hover {
  background-color: #d82020;
  border: 1px solid #d82020;
  transition-property: background-color;
  transition-duration: 0.5s;
  cursor: pointer;
}

.campaign-index-item-delete:disabled {
  background-color: grey;
}
