.campaign-detail-execution-detail-container {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-bottom: 3px solid #e1e2e4;
  padding: 5px;
  z-index: 1;
}

.campaign-detail-execution-detail {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 5px;
  overflow: hidden;
  padding-left: 5px;
}

.new-posting-button {
  /*float: right;*/
  position: absolute;
  right: 1%;
  top: 8px;
  padding: 5px;
  font-weight: 500;
  background-color: #1AAFD0;
  color: black;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 5px;
  font-size: 16px;
}

.new-posting-button:hover {
  background-color: #5edeff;
  cursor: pointer;
}

.new-feedback-button {
  position: absolute;
  right: 1%;
  top: 45px;
  padding: 5px;
  font-weight: 500;
  background-color: #1AAFD0;
  color: black;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 5px;
  font-size: 16px;
}

.new-feedback-button:hover {
  background-color: #5edeff;
  cursor: pointer;
}
