.campaign-detail-feedback-container {
  position: absolute;
  top: 75%;
  /*overflow: auto;*/
  bottom: 0;
  background-color: white;
  left: 25%;
  right: 0;
  bottom: 0;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 49%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 49%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 49%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

.feedback-list-title {
  min-height: 20px;
  max-height: 20px;
  border-bottom: 2px solid #e1e2e4;
  padding-left: 5px;
  padding-top: 3px;
  background-color: white;
}

.new-feedback-button {
  position: absolute;
  right: 1%;
  top: 2px;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 500;
  background-color: #3bdb4d;
  color: black;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 5px;
  font-size: 14px;
}

.new-feedback-button:hover {
  background-color: #42f453;
  cursor: pointer;
}

.feedback-list {
  position: absolute;
  top: 25px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  /*background-color: white;*/
}

.feedback-list > li {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #e1e2e4;
  width: 95%;
  /*background-color: white;*/
  word-wrap: break-word;
}

.feedback-author {
  color: grey;
}

.feedback-text {
  color: red;
}
