.campaign-detail-feedback-container {
  position: absolute;
  top: 55%;
  overflow: auto;
  bottom: 0;
  background-color: white;
  left: 30%;
  right: 0;
  bottom: 0;
}

.feedback-list {
  /*position: fixed;
  top: 300px;*/
}
