.nav-bar {
  font-family: roboto;
  font-weight: 500;
}

.session-bar {
  position: fixed;
  background-color: white;
  border-bottom: 1px solid #e1e2e4;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 5;
}

.home-link {
  font-family: lato;
  position: fixed;
  top: 5px;
  left: 10px;
  z-index:6;
  color: #898e95;
  transition-property: color;
}

.home-link:hover {
  cursor: pointer;
  color: #1cc4ea;
  transition-property: color;
}

.logout-button {
  position: fixed;
  font-family: lato;
  top: 5px;
  right: 5px;
  z-index: 6;
  color: #898e95;
  transition-property: color;
}

.logout-button:hover {
  cursor: pointer;
  color: #1cc4ea;
  transition-property: color;
}

.greeting-container {
    position: fixed;
    top: 5px;
    height:30px;
    width: 100%;
    text-align: center;
}
.greeting {
    font-family: lato;
    display:inline-block;
    width: 90%;
    height: 30px;
}

.session-links {
  font-family: roboto;
  font-weight: 300;
  background-color: green;
  color: red;
}


.nav-bar > h1 {
  font-weight: 500;
}
