.splash {
  font-family: lato;
}

/*.floating-box {
  position: fixed;
  bottom: 50px;
  right: 0px;
  width: 50px;
  height: 100px;
  background-color: green;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}*/

.splash-initial-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 650px;
  z-index: -1;
  opacity: 0.9;
}

.splash-bar {
  display: block;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.splash-bar > h1 {
  position: absolute;
  top: 50%;
  left: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 24px;
}
.splash-login-link {
  position: absolute;
  top: 50%;
  right: 30px;
  height: 20px;
  margin-top: -15px;
  border: 1px solid #107dcc;
  background-color: #107dcc;
  box-shadow: 0 0 0 #fff;
  transition-property: background-color, border, color, box-shadow;
  transition-duration: 0.3s;
  color: white;
  padding: 6px;
  border-radius: 5px;
  font-size: 16px;
}

.splash-login-link:hover {
  background-color: #1AAFD0;
  border-color: #1AAFD0;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  cursor: pointer;
}

.splash-main-container {
  /*display: block;*/
  position: absolute;
  top: 60px;
  margin: 0 200px 0 200px;
}

.splash-main {
  text-align: center;
  margin: 0px 0 0 0;
  /*width: 200px;*/
  color: white;
  min-width: 335px;
}

.splash-main > h1 {
  font-size: 64px;
  text-align: center;
  min-width: 325px;
  margin-top: 40px;
}

.splash-main > h2 {
  font-size: 22px;
  text-align: center;
  margin: 20px 0 50px 0;
  min-width: 325px;
}

#main-splash-text {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: auto;
  text-align: center;
  font-size: 56px;
  color: white;
}

.splash-signup-link {
  border: 1px solid #107dcc;
  background-color: #107dcc;
  box-shadow: 0 0 0 #fff;
  transition-property: background-color, border, color, box-shadow;
  transition-duration: 0.3s;
  color: white;
  /*margin: 0px auto 0px auto;*/
  padding: 12px;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  top: 450px;
  left: 50%;
  margin-left: -63.5px;
}

.splash-signup-link:hover {
  background-color: #1AAFD0;
  border-color: #1AAFD0;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  cursor: pointer;
}

.adblock-warning {
  font-size: 14px;
  position: absolute;
  top: 520px;
  left: 0%;
  right: 0;
  width: auto;
  color: white;
  text-align: center;
}

#info-arrow {
  position: absolute;
  top: 560px;
  left: 50%;
  margin-left: -50px;
  height: auto;
  width: 100px;
  cursor: pointer;
}

.splash-instruction-background {
  position: absolute;
  left: 0;
  top: 650px;
  width: 100%;
  height: 1650px;
  z-index: -1;
  opacity: 0.9;
  background-color: #ededed;
}

#info-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  left: 0;
  right: 0;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

#diagram-1 {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -300px;
  width: auto;
}

#diagram-1-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 430px;
  left: 0;
  right: 0;
  text-align: center;
}

#diagram-2 {
  position: absolute;
  top: 530px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
}

#diagram-2-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 740px;
  left: 0;
  right: 0;
  text-align: center;
}

#diagram-3 {
  position: absolute;
  top: 850px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
}

#diagram-3-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 1070px;
  left: 0;
  right: 0;
  text-align: center;
}

#diagram-4 {
  position: absolute;
  top: 1170px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
}

#diagram-4-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 1530px;
  left: 0;
  right: 0;
  text-align: center;
}
